<!--<mat-toolbar color="primary">-->
<!--  <mat-icon class="material-icons">fitness_center</mat-icon>-->
<!--  <span class="small-spacer"></span>-->
<!--  <span>MuscleFitness</span>-->

<!--  <mat-tab-group #navOptions (selectedTabChange)="selectedTabChange($event)" *ngIf="auth.user | async as user">-->
<!--    <mat-tab label="workouts">-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon>fitness_center</mat-icon>-->
<!--        <span class="space-between"></span>-->
<!--        Workouts-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="articles">-->
<!--      <ng-template  mat-tab-label>-->
<!--        <mat-icon>feed</mat-icon>-->
<!--        <span class="space-between"></span>-->
<!--        Articles-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="recipes">-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon>blender</mat-icon>-->
<!--        <span class="space-between"></span>-->
<!--        Recipes-->
<!--      </ng-template>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->


<!--  <span class="spacer"></span>-->
<!--  <div *ngIf="auth.user | async as user; else showlogout">-->
<!--    <button mat-icon-button (click)="logout()">-->
<!--      &lt;!&ndash;    <mat-icon>favorite</mat-icon>&ndash;&gt;-->
<!--      <i class="material-icons">logout</i>-->
<!--    </button>-->
<!--  </div>-->
<!--  <ng-template #showlogout>-->
<!--    <button mat-icon-button (click)="login()">-->
<!--      <i class="material-icons">login</i>-->
<!--    </button>-->
<!--  </ng-template>-->

<!--</mat-toolbar>-->
